html,
body {
    overflow: hidden;
    position: relative;
    height: 100%;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    background-color: rgb(23,22,23);
    color: rgb(246,246,246);
}

#confirme-message-container{
    position: absolute;
    text-align: center;
    height: 50px;
    width: 30%;
    margin-top: -100%;
    background-color: green;
    border-radius: 50px;
    transition: ease-in-out 0.7s;
}


#headline{
    color: rgb(183,255,26);
}

#uploadForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#switch-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    height: 20px;
    width: 150px;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 50px;
    background-color: rgb(197, 219, 100);
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

#switch{
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50px;
    background-color: gray;
    transition: ease-in-out 0.4s;
}

.switch-icons{
    height: auto;
    width: 14px;
    margin-left: 3px;
    margin-right: 3px;
}

.switch-icons,
#switch-container,
#switch{
    transform: scale(115%);
}

#folderInput,
#fileInput{
    height: 90px;
    width: 253px;
    border-radius:15px ;
    font-size: 25px;
}

::-webkit-file-upload-button{
    height: 100%;
    width: 100%;
    border: none;
    background-color: rgb(246,246,246);
    color: black;
    cursor: pointer;
}


#Confirm-button {
    align-self: center;
    height: 45px;
    width: 80%;
    margin-top: 10px;
    background-color: rgb(183,255,26);
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 80px rgb(87, 165, 13));
    transition: ease-in-out 0.35s;
}

#Confirm-button:hover{
    transform: scale(104%);
}

#progressContainer{
    width: 600px;
}

.progress {
    width: 0%;
    height: 30px;
    background-color: #3ab83e;
    text-align: center;
    line-height: 20px;
    color: black;
    border-radius: 5px;
}

.cancel-button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}


#uploading-files-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    margin-left: 75%;
    margin-right: 0px;
    margin-top: 1%;
    margin-bottom: 20%;
    height:625px;
    width: 500px;
    border-radius: 20px 0px 0px 20px;
    overflow: scroll;
    background-color: rgb(29,29,28);
}

#uploading-files-container::-webkit-scrollbar{
    width: 0;
    height: 0;
}

#uploading-files-headline{
    text-align: center;
    color: rgb(246,246,246);
}

.file-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 98%;
    height: 40px;
    margin-top: 5px;
    background-color:rgb(44,45,45) ;
}

.fileName{
    margin-left: 5px;
    flex-grow: 1;
}

.uploade-file-remove-button {
    background-color: red;
    background-image: url(bilder/entfernen\ hintergrund\ icon.png);
    background-size: cover;
    border: none;
    border-radius: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-right: 10px;
}

#file-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
    height: 400px;
    border-radius:20px;
    overflow: scroll;
    margin-bottom: -90px;
    background-color: rgb(29,29,28);
}

#file-container::-webkit-scrollbar{
    width: 0px;
}

#file-headline{
    text-align: center;
    color:rgb(246,246,246);
}

table{
    width: 90%;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: rgb(44,45,45);
    color: rgb(125,125,125);
    margin-bottom: 30px;
}

#table-head{
    transform: none;
    transition: ease-in-out 0.3s;
}

th{
    padding-top: 10px;
    padding-bottom: 10px;
}

tr{
    border: solid 1px black;
    transition: ease-in-out 0.3s;
}

tr:hover{
    transform: scale(102%);
    color: rgb(246,246,246);
}


td{
    text-align: center;
}


.downloade-button{
    border: none;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    font-size: medium;
    background-color: rgb(183,255,26);
    cursor: pointer;
    transition: ease-in-out 0.25s;
}

.downloade-button:hover{
    transform: scale(105%);
}